<div class="row">
    <div class="col">
      <h1>{{ heroe.nombre | uppercase }}</h1><small>({{ heroe.aparicion | date:'y' }})</small>
   </div>
   <div class="col">
     <img [src]="imgCasa" class="img-fluid fadeIn fast little float-right" alt="{{ heroe.casa }}">
     <!--<img [src]="ruta local" *ngIf="heroe.casa == 'DC'" class="img-fluid fadeIn fast little float-right" alt="{{ heroe.casa }}"> -->
   </div>
</div>
<hr>
<div class="row">
  <div class="col-md-4">
    <img [src]="heroe.img"  class="img-fluid fadeIn fast" alt="">
    <br><br>
    <a href="heroes" class="btn btn-outline-danger btn-block fadeIn fast">Regresar</a>
  </div>
  <div class="col-md-8">
    <p class="fadeIn fast">
        {{ heroe.bio }}
    </p>
  </div>
</div>
