<div style="text-align:center">
    <!--<app-bootstrap></app-bootstrap>-->
    <ngb-tabset type="tabs">
        <ngb-tab title="Calculadora 1">
            <ng-template ngbTabContent>
                <app-calculator></app-calculator>
            </ng-template>
        </ngb-tab>
        <ngb-tab title="Hero List">
            <ng-template ngbTabContent>
                <app-herolist></app-herolist>
            </ng-template>
        </ngb-tab>
        <ngb-tab title="Flexbox">
            <ng-template ngbTabContent>
                <app-flexbox></app-flexbox>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</div>